<div class="container mt-3">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/" >Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/customer">Clients</a></li>
              <li class="breadcrumb-item active" aria-current="page">Modifier Client</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->

          <ng-container *ngIf="customer">

                <!-- FORM EDIT-->
                <div class="container light-style flex-grow-1 container-p-y">

                    <form #customerForm="ngForm"
                    (ngSubmit)="customerForm.form.valid && onSubmit(customerForm)"
                    novalidate>
                
                    <div class="card overflow-hidden">
                      <div class="row no-gutters row-bordered row-border-light">
                       
                        
                        <div class="col-md-3 pt-0 border-right">
                          <div class="list-group list-group-flush account-settings-links">
                            <span class="list-group-item list-group-item-action" [ngClass]="step==0?'bg-danger text-white':''"   >Etape I : Général</span>
                            <span class="list-group-item list-group-item-action" [ngClass]="step==1?'bg-warning text-dark':''"   >Etape II : Info</span>
                            <span class="list-group-item list-group-item-action" [ngClass]="step==2?'bg-success text-white':''"   >Etape III : Validation</span>
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="tab-content">
                            <div *ngIf="step==0">
                            <div class="tab-pane fade active show" id="step0">
                              <div class="row ">
                                <div class="col-12">
                                <div class="alert alert-warning text-center">Tous les champs sont obligatoires</div>
                                </div>
                              </div>
                              <div class="card-body media align-items-center">
                 
                                <img src="{{customer?.imageUrl}}" alt="" class="d-block ui-w-80">
                                <div class="media-body ml-4">
                                  
                                  <label class="btn btn-outline-info">
                                    URL photo
                                    <input type="text" [(ngModel)]="defaultPhoto" name="defaultPhoto">
                                  </label> &nbsp;
                                  <button type="button" class="btn btn-info md-btn-flat" (click)="changePhoto()">Upload Photo</button>
                
                
                                </div>
                              </div>
                              <hr class="border-light m-0">
                
                              <div class="card-body">
                                <div class="form-group">
                                  <label class="form-label">Nom<span class="text-danger">*</span></label>
                                  <input type="text"
                                        class="form-control mb-1"
                                        name="fname"
                                        #fname="ngModel"
                                        [ngClass]="{ 'is-invalid': fname.dirty  && fname.invalid }"
                                        [(ngModel)]="customer.fname"
                                        minlength="4"
                                        maxlength="20"
                                        required>
                                    <span *ngIf="fname.dirty  && fname.invalid" class="alertInput">
                                      <span *ngIf="fname.errors?.required">Ce champ est Obligatoire</span>
                                      <span *ngIf="fname.errors?.minlength">Nombre de Caractaire requis est  {{fname.errors?.minlength?.actualLength}} \ {{fname.errors?.minlength?.requiredLength}}</span>
                                  </span>
                                </div>
                                <div class="form-group">
                                  <label class="form-label">Prenom<span class="text-danger">*</span></label>
                                  <input type="text" 
                                        class="form-control"
                                        name="lname"
                                        #lname="ngModel"
                                        [(ngModel)]="customer.lname"
                                        [ngClass]="{ 'is-invalid': lname.dirty  &&  lname.invalid }"
                                        minlength="4"
                                        maxlength="20"
                                        required>
                                        <span *ngIf="lname.dirty   && lname.invalid" class="alertInput">
                                          <span *ngIf="lname.errors?.required">Ce champ est Obligatoire</span>
                                          <span *ngIf="lname.errors?.minlength">Nombre de Caractaire requis est  {{lname.errors?.minlength?.actualLength}} \ {{lname.errors?.minlength?.requiredLength}}</span>
                                      </span>
                                </div>
                                <div class="form-group">
                                  <label class="form-label">CINE<span class="text-danger">*</span></label>
                                  <input type="text"
                                        class="form-control mb-1"
                                        name="cine"
                                        #cine="ngModel"
                                        required
                                        [(ngModel)]="customer.cine"
                                        [ngClass]="{ 'is-invalid':  cine.dirty && cine.invalid }">
                                        <span *ngIf="cine.dirty && cine.invalid" class="alertInput">
                                          <span *ngIf="cine.errors?.required">Ce champ est Obligatoire</span>
                                      </span>
                                </div>
                                <div class="form-group">
                                  <label class="form-label">N°Tel<span class="text-danger">*</span></label>
                                  <input type="text"
                                        class="form-control"
                                        name="phone"
                                        #phone="ngModel"
                                        [ngClass]="{ 'is-invalid': phone.dirty  && phone.invalid }"
                                        minlength="10"
                                        [(ngModel)]="customer.phone">
                                        <span *ngIf="phone.dirty  && phone?.invalid" class="alertInput">
                                          <span *ngIf="phone.errors?.required">Ce champ est Obligatoire</span>
                                          <span *ngIf="phone.errors?.minlength">N°Téléphone invalide</span>
                                      </span>
                                </div>
                                
                                <div class="form-group">
                                  <label class="form-label">Profession<span class="text-danger">*</span></label>
                                  <input type="text"
                                        class="form-control"
                                        name="jobtitle"
                                        #jobtitle="ngModel"
                                        required
                                        [(ngModel)]="customer.jobtitle">
                                        <span *ngIf="jobtitle.dirty && jobtitle.invalid" class="alertInput">
                                          <span *ngIf="jobtitle.errors?.required">Ce champ est Obligatoire</span>
                                      </span>
                                </div>
                
                              </div>
                
                            </div>
                          </div>
                            <div *ngIf="step==1">
                            <div class="tab-pane fade active show" id="step1" >
                              <div class="card-body pb-2">
                                <div class="form-group">
                                  <label class="form-label">E-mail</label>
                                  <input type="email"
                                          class="form-control mb-1"
                                          name="email" 
                                          #email="ngModel"
                                          [(ngModel)]="customer.email"
                                          required
                                          [ngClass]="{ 'is-invalid':email.dirty  && email.invalid }"
                                          >
                                          <span *ngIf="email.dirty  && email?.invalid" class="alertInput">
                                            <span *ngIf="email.errors?.required">Ce champ est Obligatoire</span>
                                            <span *ngIf="email.errors?.email">Adresse e-mail invalide</span>
                                        </span>
                                </div>
                
                
                
                                <div class="form-group">
                                  <label class="form-label">Adresse</label>
                                  <input type="text"
                                        class="form-control"
                                        name="address"
                                        [(ngModel)]="customer.address">
                                </div>
                
                                <div class="form-group">
                                  <label class="form-label">Twitter</label>
                                  <input type="text" 
                                        class="form-control"
                                        name="twitter"
                                        [(ngModel)]="customer.account_twitter">
                                </div>
                                <div class="form-group">
                                  <label class="form-label">Facebook</label>
                                  <input type="text"
                                        class="form-control"
                                        name="fb"
                                        [(ngModel)]="customer.account_fb">
                                </div>
                                <div class="form-group">
                                  <label class="form-label">Instagram</label>
                                  <input type="text"
                                        class="form-control"
                                        name="insta"
                                        [(ngModel)]="customer.account_insta">
                                </div>
                
                              </div>
                            </div>
                          </div>
                            <!--STEP 2-->
                            <div *ngIf="step==2">
                            <div class="tab-pane fade active show" id="step2" >
                              <div class="card-body pb-2">
                
                                                <!-- Details Customer-->
                                                <div class="row gutters-sm">
                                                  <div class="col-md-4 mb-3">
                                                    <div class="card">
                                                      <div class="card-body">
                                                        <div class="d-flex flex-column align-items-center text-center">
                                                          <img src="{{customer?.imageUrl}}" alt="Admin" class="rounded-circle" width="150">
                                                          <div class="mt-3">
                                                            <h4>{{customer?.fname}} {{customer?.lname}}</h4>
                                                            <p class="text-secondary mb-1">{{customer?.jobtitle}}</p>
                                                            <p class="text-muted font-size-sm">{{customer?.address}}</p>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="card mt-3">
                                                      <ul class="list-group list-group-flush">
                                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                          <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                                                          <span class="text-secondary">@{{customer?.account_twitter}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                          <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                                                          <span class="text-secondary">{{customer?.account_insta}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                          <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                                                          <span class="text-secondary">{{customer?.account_fb}}</span>
                                                        </li>
                                                      </ul>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-8">
                                                    <div class="card mb-3">
                                                      <div class="card-body">
                                                        <div class="row">
                                                          <div class="col-sm-3">
                                                            <h6 class="mb-0">Nom Complet</h6>
                                                          </div>
                                                          <div class="col-sm-9 text-secondary">
                                                              {{customer?.fname}} {{customer?.lname}}
                                                          </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                          <div class="col-sm-3">
                                                            <h6 class="mb-0">CINE</h6>
                                                          </div>
                                                          <div class="col-sm-9 text-secondary">
                                                              {{customer?.cine}} 
                                                          </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                          <div class="col-sm-3">
                                                            <h6 class="mb-0">N°Tel</h6>
                                                          </div>
                                                          <div class="col-sm-9 text-secondary">
                                                              {{customer?.phone}} 
                                                          </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                          <div class="col-sm-3">
                                                            <h6 class="mb-0">Email</h6>
                                                          </div>
                                                          <div class="col-sm-9 text-secondary">
                                                              {{customer?.email}} 
                                                          </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                          <div class="col-sm-3">
                                                            <h6 class="mb-0">Profession</h6>
                                                          </div>
                                                          <div class="col-sm-9 text-secondary">
                                                              {{customer?.jobtitle}} 
                                                          </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                          <div class="col-sm-3">
                                                            <h6 class="mb-0">Adresse</h6>
                                                          </div>
                                                          <div class="col-sm-9 text-secondary">
                                                              {{customer?.address}} 
                                                          </div>
                                                        </div>
                
                                                      </div>
                                                    </div>
                                      
                                      
                                      
                                                  </div>
                                                </div>
                
                
                
                
                              </div>
                            </div>
                          </div>
                
                          </div>
                        </div>
                      </div>
                    </div>
                
                    <div class="text-right mt-3">
                      <div *ngIf="step==0">
                        <button   class="btn btn-info"
                                  [disabled]="customer.fname.length<3 || customer.lname.length<3 || customer.cine.length<3 || customer.phone.length<10 || customer.jobtitle.length<3 "
                              (click)="nexStep(1)"
                              >Suivant</button>&nbsp;
                      </div>
                      <div *ngIf="step==1">
                        <button    class="btn btn-info" 
                                  (click)="nexStep(2)">Suivant</button>&nbsp;
                        <a    class="btn btn-secondary" (click)="previousStep(1)">Précédent</a>&nbsp;
                      </div>
                      <div *ngIf="step==2">
                        <button class="btn btn-success" type="submit">Enregister</button>&nbsp;
                        <a   class="btn btn-secondary" (click)="previousStep(2)">Précédent</a>&nbsp;
                      </div>
                
                    </div>
                </form>
                  </div>
                <!-- FIN FORM EDIT-->
          </ng-container>


    </div>
</div>