<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">MIOLA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" routerLink="/"   href="javascript:void(0);"><i class="fa fa-bar-chart"></i>Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/customer"  href="javascript:void(0);"><i class="fa fa-users"></i>Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="fa fa-tachometer"></i>Compteurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/help" href="javascript:void(0);"><i class="fa fa-info-circle"></i>Help</a>
            </li>
        </ul>
    </div>
</nav>